@font-face {
  font-family: "Oswald-Light";
  src: url("https://estorelabs.github.io/es-hosting/fonts/Oswald/Oswald-Light.woff") format("woff");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Oswald-Regular";
  src: url("https://estorelabs.github.io/es-hosting/fonts/Oswald/Oswald-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Oswald-Medium";
  src: url("https://estorelabs.github.io/es-hosting/fonts/Oswald/Oswald-Medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
}

#es-essentia.es-essentia {
  font-family: "Oswald-regular", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  max-width: 998px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  color: #000;
  background: #fff;

}
#es-essentia.es-essentia html,
#es-essentia.es-essentia body {
  margin: 0;
  padding: 0;
}
#es-essentia.es-essentia * {
  box-sizing: border-box;
}
#es-essentia.es-essentia ::-webkit-scrollbar {
  width: 12px !important;
}
#es-essentia.es-essentia ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
  -webkit-border-radius: 10px !important;
  -webkit-overflow-scrolling: auto;
  border-radius: 10px !important;
}
#es-essentia.es-essentia ::-webkit-scrollbar-thumb {
  -webkit-overflow-scrolling: auto;
  border-radius: 10px !important;
  background: #506f13 !important;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5) !important;
}
#es-essentia.es-essentia ::-webkit-scrollbar-thumb:window-inactive {
  -webkit-overflow-scrolling: auto;
  border-radius: 10px !important;
  background: #506f13 !important;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5) !important;
  -webkit-overflow-scrolling: auto;
}
#es-essentia.es-essentia * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
#es-essentia.es-essentia img,
#es-essentia.es-essentia picture {
  max-width: 100%;
  display: block;
}
#es-essentia.es-essentia p,
#es-essentia.es-essentia h2,
#es-essentia.es-essentia h3,
#es-essentia.es-essentia h4,
#es-essentia.es-essentia h5,
#es-essentia.es-essentia li {
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
}
#es-essentia.es-essentia li {
  list-style: none;
}
#es-essentia.es-essentia sup {
  line-height: 0;
}
#es-essentia.es-essentia .es-kv {
  position: relative;
  margin-bottom: 100px;
  margin-bottom: 32%;
}
#es-essentia.es-essentia .es-kv__kv {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
#es-essentia.es-essentia .es-kv__kv--desktop {
  display: none;
}
#es-essentia.es-essentia .es-kv__logo {
  position: absolute;
  top: 0;
  left: 0;
  padding: 14px;
  z-index: 2;
  max-width: 55%;
}
#es-essentia.es-essentia .es-kv__new {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  max-width: 40%;
}
#es-essentia.es-essentia .es-kv__badge {
  position: absolute;
  top: 50%;
  right: 8px;
  max-width: 40%;
  transform: translateY(-50%);
}
#es-essentia.es-essentia .es-kv__title {
  padding: 14px;
  position: absolute;
  bottom: 50%;
  left: 0;
  color: #fff;
  font-size: 32px;
  text-transform: uppercase;
  font-style: italic;
  font-family: "Oswald-Medium";
  transform: translateY(55%);
}
#es-essentia.es-essentia .es-kv__title sup {
  font-size: 18px;
}
#es-essentia.es-essentia .es-kv__packshot {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  max-width: 68%;
}
#es-essentia.es-essentia .es-nav {
  display: none;
}
#es-essentia.es-essentia .es-features {
  display: flex;
  flex-wrap: wrap;
  gap: 32px 24px;
  justify-content: center;
  margin-bottom: 32px;
}
#es-essentia.es-essentia .es-features__feature {
  /* max-width: 312px; */
  /* width: calc(50% - 24px); */ /* doesn't work on Ceneo */
  width: 45%;
}
#es-essentia.es-essentia .es-features__title {
  font-family: "Oswald-Medium";
  margin: 8px 0;
  font-size: 16px;
}
#es-essentia.es-essentia .es-features__text {
  font-size: 14px;
}
#es-essentia.es-essentia .es-features__text sup {
  font-size: 8px;
}
#es-essentia.es-essentia .es-support {
  position: relative;
  background: url(img/slide-bg.jpg);
  background-size: cover;
  min-height: 220px;
}
#es-essentia.es-essentia .es-support .swiper-wrapper {
  display: block;
}
/* #es-essentia.es-essentia .es-support .swiper-slide:not(:last-child) {
  margin-bottom: 24px;
} */
#es-essentia.es-essentia .es-support .swiper-button-prev,
#es-essentia.es-essentia .es-support .swiper-button-next {
  display: none;
}
#es-essentia.es-essentia .es-support__content {
  padding: 12px;
  padding-bottom: 48px;
  padding-top: 0;
}
#es-essentia.es-essentia .es-support__slide:not(:last-child) {
  margin-bottom: 8px;
}
#es-essentia.es-essentia .es-support__title {
  padding: 12px;
  font-family: "Oswald-Medium";
  color: #fff;
  font-size: 22px;
  margin-bottom: 16px;
}
#es-essentia.es-essentia .es-support__items {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
#es-essentia.es-essentia .es-support__items:not(:last-child) {
  margin-bottom: 16px;
}
#es-essentia.es-essentia .es-support__item {
  display: flex;
  align-items: center;
  gap: 8px;
}
#es-essentia.es-essentia .es-support__item {
  gap: 16px;
}
#es-essentia.es-essentia .es-support__item--full {
  width: 100%;
}
#es-essentia.es-essentia .es-support__icon {
  max-width: 45px;
}
#es-essentia.es-essentia .es-support__icon--big {
  max-width: 87px;
}
#es-essentia.es-essentia .es-support__text,
#es-essentia.es-essentia .es-support__desc {
  color: #fff;
}
#es-essentia.es-essentia .es-support__desc {
  font-family: "Oswald-Light";
}
#es-essentia.es-essentia .es-support__subtitle {
  color: #fff;
  font-size: 20px;
  margin-bottom: 8px;
}
#es-essentia.es-essentia .es-support__description {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}
#es-essentia.es-essentia .es-support__square {
  max-width: 16px;
}

#es-essentia.es-essentia .es-video {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 32px 0;
}
#es-essentia.es-essentia .es-video__videoCnt {
  width: 100%;
  margin: 0 auto;
}
#es-essentia.es-essentia .es-video__iframe {
  width: 100%;
  aspect-ratio: 16/9;
}

#es-essentia.es-essentia .es-dosage {
  padding: 12px;
  background: url(img/slide-bg.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}
#es-essentia.es-essentia .es-dosage__btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
#es-essentia.es-essentia .es-dosage__arrow {
  font-size: 22px;
  color: #fff;
  font-family: "Oswald-Medium";
  margin-right: 10px;
}
#es-essentia.es-essentia .es-dosage__title {
  font-family: "Oswald-Medium";
  font-size: 22px;
  color: #fff;
  margin-bottom: 16px;
}
#es-essentia.es-essentia .es-dosage__text {
  color: #fff;
  font-family: "Oswald-Light";
  margin-bottom: 24px;
}
#es-essentia.es-essentia .es-dosage__mainCtn {
  display: flex;
  flex-direction: column;
}
#es-essentia.es-essentia .es-dosage__items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
#es-essentia.es-essentia .es-dosage__item {
  display: flex;
  gap: 8px;
}
#es-essentia.es-essentia .es-dosage__content {
  display: flex;
  align-items: center;
  gap: 8px;
}
#es-essentia.es-essentia .es-dosage__img {
  max-width: 50px;
}
#es-essentia.es-essentia .es-dosage__square {
  max-width: 16px;
}
#es-essentia.es-essentia .es-dosage__desc {
  position: relative;
  color: #fff;
  padding-left: 16px;
}
#es-essentia.es-essentia .es-dosage__desc::before {
  content: '';
  position: absolute;
  top: 6px;
  left: 0;
  width: 8px;
  height: 8px;
  background: #ffae00;
  transform: rotate(45deg);
}
#es-essentia.es-essentia .es-info__btn {
  background: url(img/dosage-bg-dt.jpg) 100% 100% no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  color: #fff;
  padding: 12px;
}
#es-essentia.es-essentia .es-info__mainTitle {
  font-family: "Oswald-Medium";
  font-size: 22px;
  margin-bottom: 16px;
}
#es-essentia.es-essentia .es-info__arrow {
  font-size: 36px;
  margin-right: 10px;
}

/* #es-essentia.es-essentia .es-info__mainCtn {
  animation: details-show 200ms ease-in-out;
} */
#es-essentia.es-essentia .es-info .swiper-button-next,
#es-essentia.es-essentia .es-info .swiper-button-prev {
  display: none;
}
#es-essentia.es-essentia .es-info .swiperNav .swiper-slide-thumb-active {
  background: #506f13;
  color: #fff;
}
#es-essentia.es-essentia .es-info__nav.swiper-wrapper {
  padding: 14px;
  display: none;
  grid-template-columns: 50% 50%;
  gap: 14px;
}
#es-essentia.es-essentia .es-info__nav-item {
  padding: 4px;
  border: 2px solid #506f13;
  width: 95% !important;
  max-width: none;
  height: auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin: 0 !important;
}
#es-essentia.es-essentia .es-info__nav-text {
  text-align: center;
}
#es-essentia.es-essentia .es-info__link {
  display: none;
  text-decoration: none;
  text-align: center;
  color: #000;
}
#es-essentia.es-essentia .es-info__nav-text {
  text-align: center;
}
#es-essentia.es-essentia .es-info__up {
  display: flex;
  gap: 14px;
  padding: 14px;
}
#es-essentia.es-essentia .es-info__image {
  width: 50%;
}
#es-essentia.es-essentia .es-info__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#es-essentia.es-essentia .es-info__img--desktop {
  display: none;
}
#es-essentia.es-essentia .es-info__desc {
  font-size: 14px;
  color: #506f13;
  width: 50%;
  align-self: center;
}
#es-essentia.es-essentia .es-info__down {
  background: url(img/slide-2-bg.jpg) 100% 100%;
  background-size: cover;
  padding: 20px 14px;
}
#es-essentia.es-essentia .es-info__down--doctor {
  text-align: center;
}
#es-essentia.es-essentia .es-info__content {
  align-self: center;
  margin: 0 auto;
  width: 50%;
}
#es-essentia.es-essentia .es-info__wrapper {
  display: flex;
  /* align-items: center; */
  gap: 14px;
  min-height: 240px;
}
#es-essentia.es-essentia .es-info__title {
  color: #fff;
  font-size: 22px;
  font-family: "Oswald-Medium";
  margin-bottom: 8px;
}
#es-essentia.es-essentia .es-info__text {
  color: #fff;
  font-family: "Oswald-Light";
}
#es-essentia.es-essentia .es-info__text--doctor {
  max-width: 460px;
  text-align: center;
}
#es-essentia.es-essentia .es-info__asset {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#es-essentia.es-essentia .es-info__asset--desktop {
  display: none;
}
#es-essentia.es-essentia .es-table__title {
  color: #506f13;
  font-family: "Oswald-Medium";
  text-align: center;
  padding: 14px;
  font-size: 20px;
}
#es-essentia.es-essentia .es-table__wrapper {
  overflow-x: scroll;
  padding-bottom: 15px;
  margin-bottom: 18px;
}
#es-essentia.es-essentia .es-table__green--top {
  border-top: 5px solid #ccc926;
  border-left: 5px solid #ccc926;
  border-right: 5px solid #ccc926;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
#es-essentia.es-essentia .es-table__green--sides {
  border-left: 5px solid #ccc926;
  border-right: 5px solid #ccc926;
}
#es-essentia.es-essentia .es-table__green--bottom {
  border-left: 5px solid #ccc926;
  border-right: 5px solid #ccc926;
  border-bottom: 5px solid #ccc926 !important;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
#es-essentia.es-essentia .es-table__orange--topLeft {
  border-top: 5px solid #f29400;
  border-left: 5px solid #f29400;
  border-top-left-radius: 20px;
}
#es-essentia.es-essentia .es-table__orange--topRight {
  border-top: 5px solid #f29400;
  border-right: 5px solid #f29400;
  border-top-right-radius: 20px;
}
#es-essentia.es-essentia .es-table__orange--sideLeft {
  border-left: 5px solid #f29400;
}
#es-essentia.es-essentia .es-table__orange--sideRight {
  border-right: 5px solid #f29400;
}
#es-essentia.es-essentia .es-table__orange--bottomLeft {
  border-left: 5px solid #f29400;
  border-bottom: 5px solid #f29400 !important;
  border-bottom-left-radius: 20px;
}
#es-essentia.es-essentia .es-table__orange--bottomRight {
  border-right: 5px solid #f29400;
  border-bottom: 5px solid #f29400 !important;
  border-bottom-right-radius: 20px;
}
#es-essentia.es-essentia .es-table table {
  border-collapse: collapse;
  max-width: none;
  min-width: 600px;
}
#es-essentia.es-essentia .es-table table tbody tr td:first-child {
  background: #eaeaea;
}
#es-essentia.es-essentia .es-table table tbody tr:last-child td:first-child {
  background: #fff;
}
#es-essentia.es-essentia .es-table td {
  padding: 8px 14px;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  text-align: center;
}
#es-essentia.es-essentia .es-table__name {
  padding: 14px;
}
#es-essentia.es-essentia .es-table__name--green {
  color: #425505;
}
#es-essentia.es-essentia .es-table__name--orange {
  color: #fc7e00;
}
#es-essentia.es-essentia .es-table__name--red {
  color: #92250b;
}
#es-essentia.es-essentia .es-table__emptyColumn {
  width: 1spx;
}
#es-essentia.es-essentia .es-table__img {
  margin: 0 auto;
  max-width: 100px;
  padding: 5px;
}
#es-essentia.es-essentia .es-table__link {
  display: block;
  max-width: 100px;
  text-decoration: none;
  color: #000;
  border: 2px solid #000;
  text-align: center;
  padding: 8px 14px;
  border-radius: 50px;
  font-family: "Oswald-Medium";
  margin: 14px auto;
}
#es-essentia.es-essentia .es-comp {
  background: url(img/comp-bg.jpg) 100% 100%;
  background-size: cover;
  padding: 12px;
  margin-bottom: 32px;
}
#es-essentia.es-essentia .es-comp__content--desktop {
  display: none;
}
#es-essentia.es-essentia .es-comp__btn {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
#es-essentia.es-essentia .es-comp__arrow {
  font-size: 22px;
  color: #fff;
  font-family: "Oswald-Medium";
}
#es-essentia.es-essentia .es-comp__hiddenCtn {
  display: block;
  margin-top: 50px;
}
#es-essentia.es-essentia .es-comp__hide {
  display: none;
}
#es-essentia.es-essentia .es-comp__title {
  font-size: 22px;
  margin-bottom: 16px;
  color: #fff;
  font-family: "Oswald-Medium";
}
#es-essentia.es-essentia .es-comp__items {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#es-essentia.es-essentia .es-comp__icon {
  max-width: 60px;
}
#es-essentia.es-essentia .es-comp__desc {
  color: #fff;
  text-align: center;
}
#es-essentia.es-essentia .es-comp__wrapper {
  display: flex;
  align-items: center;
  position: relative;
}
#es-essentia.es-essentia .es-comp__text {
  color: #fff;
  font-family: "Oswald-Medium";
  line-height: 1.5;
}
#es-essentia.es-essentia .es-comp__mg {
  position: relative;
  margin-right: -115px;
  z-index: 1;
}
#es-essentia.es-essentia .es-comp__img {
  position: relative;
  top: 0px;
  right: -20%;
}
#es-essentia.es-essentia .es-desc {
  padding: 30px 14px;
}
#es-essentia.es-essentia .es-desc__item {
  color: #506f13;
  font-family: "Oswald-Light";
  margin: 5px 0;
  font-size: 16px;
}
#es-essentia.es-essentia .es-disclaimer {
  padding: 14px;
}
#es-essentia.es-essentia .es-disclaimer__title {
  font-size: 18px;
  margin-bottom: 8px;
  color: #506f13;
  font-family: "Oswald-Medium";
}
#es-essentia.es-essentia .es-disclaimer__list {
  list-style: none;
}
#es-essentia.es-essentia .es-disclaimer__list li {
  list-style: none;
}
#es-essentia.es-essentia .es-disclaimer__item {
  color: #506f13;
  font-family: "Oswald-Light";
  word-break: break-word;
}
#es-essentia.es-essentia .es-disclaimer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#es-essentia.es-essentia .es-disclaimer__mat {
  color: #506f13;
  font-family: "Oswald-Medium";
  font-size: 16px;
  margin-left: 20px;
}
#es-essentia.es-essentia .es-disclaimer__sanofi {
  max-width: 100px;
}
#es-essentia.es-essentia .es-disclaimer__bottom--border {
  outline: 2px solid black;
  font-weight: bold;
  padding: 0.5rem;
}
@media screen and (min-width: 768px) {
  #es-essentia.es-essentia .es-kv {
    margin-bottom: 0;
  }
  #es-essentia.es-essentia .es-kv__kv--mobile {
    display: none;
  }
  #es-essentia.es-essentia .es-kv__kv--desktop {
    display: block;
    -o-object-fit: cover;
    object-fit: cover;
    min-height: 550px;
  }
  #es-essentia.es-essentia .es-kv__title {
    font-size: 56px;
    padding: 40px;
    bottom: 0;
    transform: translateY(0);
  }
  #es-essentia.es-essentia .es-kv__title sup {
    font-size: 30px;
  }
  #es-essentia.es-essentia .es-kv__packshot {
    bottom: 35px;
    left: auto;
    right: 40px;
    transform: translate(0, 0);
    max-width: 420px;
  }
  #es-essentia.es-essentia .es-kv__badge {
    top: 120px;
    right: 13%;
    max-width: 180px;
    transform: translateY(0);
  }
  #es-essentia.es-essentia .es-nav {
    display: flex;
    padding: 14px;
    gap: 14px 0;
  }
  #es-essentia.es-essentia .es-nav__item {
    padding: 8px;
    flex: 1;
    border: 2px solid #506f13;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s;
  }
  #es-essentia.es-essentia .es-nav__item:not(:last-child) {
    border-right: none;
  }
  #es-essentia.es-essentia .es-nav__item:hover {
    background: #506f13;
  }
  #es-essentia.es-essentia .es-nav__item:hover .es-nav__link {
    color: #fff;
  }
  #es-essentia.es-essentia .es-nav__link {
    font-family: "Oswald-Medium";
    text-align: center;
    color: #000;
    text-decoration: none;
  }
  #es-essentia.es-essentia .es-features__feature {
    /* max-width: 212px;
    width: calc(50% - 24px); */
    width: 23%;
  }
  #es-essentia.es-essentia .es-features__title {
    font-size: 22px;
  }
  #es-essentia.es-essentia .es-features__text {
    font-size: 16px;
  }
  #es-essentia.es-essentia .es-features__text sup {
    font-size: 12px;
  }
  #es-essentia.es-essentia .es-support {
    background: url(img/support-bg-1.png) no-repeat 100% 100%;
    background-size: cover;
    background-position: 60%;
    max-height: 600px;
  }
  #es-essentia.es-essentia .es-support .swiper-button-prev,
  #es-essentia.es-essentia .es-support .swiper-button-next {
    display: flex;
  }
  #es-essentia.es-essentia .es-support__content {
    padding-bottom: 12px;
  }
  #es-essentia.es-essentia .es-support__title {
    font-size: 40px;
  }
  #es-essentia.es-essentia .es-support__item {
    width: 100%;
  }
  #es-essentia.es-essentia .es-support__item--single {
    align-items: start;
  }
  #es-essentia.es-essentia .es-support__text {
    font-size: 24px;
    max-width: 50%;
  }
  #es-essentia.es-essentia .es-support__icon {
    max-width: 100px;
  }
  #es-essentia.es-essentia .es-support__text-wrapper {
    padding-top: 0px;
  }
  #es-essentia.es-essentia .es-support__subtitle {
    font-size: 24px;
    max-width: 76%;
  }
  #es-essentia.es-essentia .es-support__desc {
    max-width: 46%;
    font-size: 16px;
  }

  #es-essentia.es-essentia .es-dosage {
    background: url(img/dosage-bg-dt.jpg) 100% 100% no-repeat;
    background-size: cover;
    display: flex;
  }

  #es-essentia.es-essentia .es-dosage__title {
    font-size: 56px;
  }
  #es-essentia.es-essentia .es-dosage__arrow {
    font-size: 36px;
  }

  #es-essentia.es-essentia .es-dosage__mainCtn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* animation: details-show 200ms ease-in-out; */
  }
  #es-essentia.es-essentia .es-dosage__wrapper {
    max-width: 45%;
  }
  #es-essentia.es-essentia .es-dosage__items {
    flex-direction: column;
    padding: 24px 0;
    gap: 32px;
  }
  #es-essentia.es-essentia .es-dosage__text {
    max-width: 60%;
    font-size: 24px;
  }
  #es-essentia.es-essentia .es-dosage__img {
    max-width: none;
  }

  #es-essentia.es-essentia .es-dosage__desc {
    font-size: 24px;
  }
  #es-essentia.es-essentia .es-dosage__hide {
    display: none;
  }

  #es-essentia.es-essentia .es-info__mainTitle {
    font-size: 56px;
  }

  #es-essentia.es-essentia .es-info .swiper-button-next,
  #es-essentia.es-essentia .es-info .swiper-button-prev {
    display: flex;
  }
  #es-essentia.es-essentia .es-info__nav.swiper-wrapper {
    padding: 24px;
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
  }
  #es-essentia.es-essentia .es-info__up {
    padding: 0;
  }
  #es-essentia.es-essentia .es-info__down {
    background: url(img/dosage-bg-dt.jpg) no-repeat 100% 100%;
    background-position: left;
    background-size: cover;
  }
  #es-essentia.es-essentia .es-info__img--mobile {
    display: none;
  }
  #es-essentia.es-essentia .es-info__img--desktop {
    display: block;
  }
  #es-essentia.es-essentia .es-info__desc {
    font-size: 24px;
  }
  #es-essentia.es-essentia .es-info__asset--mobile {
    display: none;
  }
  #es-essentia.es-essentia .es-info__asset--desktop {
    display: block;
  }
  #es-essentia.es-essentia .es-info__title {
    font-size: 32px;
  }
  #es-essentia.es-essentia .es-info__text {
    font-size: 24px;
  }
  #es-essentia.es-essentia .es-comp {
    padding-bottom: 0;
  }
  #es-essentia.es-essentia .es-comp__title {
    font-size: 56px;
  }
  #es-essentia.es-essentia .es-comp__content--mobile {
    display: none;
  }
  #es-essentia.es-essentia .es-comp__content--desktop {
    display: block;
    /* animation: details-show 200ms ease-in-out; */
  }
  #es-essentia.es-essentia .es-comp__arrow {
    font-size: 36px;
    color: #fff;
    font-family: "Oswald-Medium";
  }
  #es-essentia.es-essentia .es-comp__items {
    justify-content: space-around;
    gap: 24px;
    margin-bottom: 16px;
  }
  #es-essentia.es-essentia .es-comp__secondCtn {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-block: 20px;
  }
  #es-essentia.es-essentia .es-comp__item {
    min-height: 150px;
  }
  #es-essentia.es-essentia .es-comp__icon {
    max-width: 104px;
  }
  #es-essentia.es-essentia .es-comp__desc {
    font-size: 24px;
  }
  #es-essentia.es-essentia .es-comp__text {
    font-size: 24px;
  }
  #es-essentia.es-essentia .es-comp__mg {
    min-width: 300px;
    padding: 0px 20px;
  }
  #es-essentia.es-essentia .es-comp__img {
    right: 0;
    margin-top: -27px;
    max-width: 500px;
  }
  #es-essentia.es-essentia .es-comp__texts {
    margin-right: 0;
  }
  #es-essentia.es-essentia .es-disclaimer__title {
    font-size: 32px;
  }
  #es-essentia.es-essentia .es-disclaimer__item {
    font-size: 16px;
  }
  #es-essentia.es-essentia .es-disclaimer__sanofi {
    max-width: 150px;
  }
  #es-essentia.es-essentia .es-desc__item {
    font-size: 16px;
  }
  #es-essentia.es-essentia .es-table__wrapper {
    overflow-x: hidden;
  }
} /*# sourceMappingURL=style.css.map */
